<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body{
            overflow-x: hidden;
        }
        header{
            display: flex;
            justify-content: space-between;
            margin: 10px 20px;
        }
        button{
            padding: 2px 10px;
            cursor: pointer;
            font-size: 15px;
            border: none;
            border-radius: 15px;
            background-color: #681368;
            color: white;
            transition: all;
            transition-duration: 500ms;
        }
        button:hover{
            background-color: #9b1c9b;
        }
        a{
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>Short URL Generator</h1>
        <div style="display: flex; justify-content: space-between; gap: 20px;">
            <% if (!locals.token) { %>
                <button> 
                    <a href="/auth/login">Login</a>
                </button>
                <button> 
                    <a href="/auth/signup">Signup</a>
                </button>
            <% } %>
        </div>
    </header>
    
    <div>
        <p style="margin: 10px 20px;">You can start generating short URL by signing up.</p>
    </div>
</body>
</html>